<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <!-- <div class="container">
      <p><%= room.admin %></p>
      <a href="/room/delete/<%= room._id %>" class="delete">Delete</a>
    </div> -->

    <br />
    <div class="card mx-auto width">
      <div class="card-body bg-dark">
        <% chats.forEach(chat => { %>
        <ul class="list-group list-group-flush mb-2 message-bold">
          <li class="list-group-item">
            <% if (chat.user.username === user.username) { %>
            <em class="right text-danger">
              <% if (room.admin.username == chat.user.username) { %>
              <i class="fas fa-crown"></i>
              <% } %> <%= chat.user.username %>
            </em>
            <br />
            <span class="right px-5 text-success"
              ><%= chat.message %></span
            >
            <br />
            <small class="right text-muted"
              ><%= formatDistanceToNow(new Date(chat.createdAt), { addSuffix:
              true }) %></small
            >

            <% } else { %>

            <em class="orange-color">
              <% if (room.admin.username == chat.user.username) { %>
              <i class="fas fa-crown"></i>
              <% } %> <%= chat.user.username %>
            </em>
            <br />
            <span class="px-5 text-primary"><%= chat.message %></span>
            <br />
            <small class="text-muted">
              <%= formatDistanceToNow(new Date(chat.createdAt), { addSuffix:
              true }) %>
            </small>
            <% } %>
          </li>
        </ul>
        <% }) %>

        <!-- New Message -->
        <form method="POST" action="/chat">
          <div class="row mt-4 align-items-end">
            <div class="col-lg-10">
              <input
                type="text"
                name="message"
                class="form-control form-control-lg"
                placeholder="Message"
                required
                autofocus
              />
            </div>
            <div class="col-lg-2 mt-3">
              <input
                class="btn btn-lg btn-success w-100"
                value="Send"
                type="submit"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
